{% extends "baseTemplate.html" %}

{% block content %}
<div class="jumbotron">
    <div class="btn-group col-md-12">
        <div class="col-md-4">
            <div class="alert alert-dismissible alert-info col-md-6">
                <strong>Switch Commands</strong>
            </div>
            <form action="/switchCommandsRedirect">
                <button type="submit" class="btn btn-outline-info">Show Commands</button>
            </form>
            <br>
            <form action="/switchCommandsRedirect">
                <button type="submit" class="btn btn-outline-info">Dot1x Commands</button>
            </form>
        </div>
        <div class="col-md-4">
            <div class="alert alert-dismissible alert-info col-md-6">
                <strong>Configuration Tools</strong>
            </div>
            <form action="/switchCommandsRedirect">
                <button type="submit" class="btn btn-outline-info">Switch Configuration</button>
            </form>
        </div>
        <div class="col-md-4">
            <div class="alert alert-dismissible alert-info col-md-6">
                <strong>Upgrade Tools</strong>
            </div>
            <form action="/switchCommandsRedirect">
                <button type="submit" class="btn btn-outline-info">Switch Upgrade</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}