{% extends "baseTemplate.html" %}

{% block content %}
<div class="jumbotron">
    <div class="btn-group-vertical" data-toggle="buttons">
        <button type="button" class="btn btn-outline-info">Create New Tenant</button>
        <p></p>
        <button type="button" class="btn btn-outline-info">Create New Application Profile</button>
        <p></p>
        <button type="button" class="btn btn-outline-info">Create New Endpoint Group</button>
        <p></p>
        <button type="button" class="btn btn-outline-info">Create New Bridge Domain</button>
        <p></p>
        <button type="button" class="btn btn-outline-info">Create New VRF</button>
        <p></p>
    </div>
</div>
{% endblock %}