{% extends "baseTemplate.html" %}

{% block content %}
<div class="jumbotron">
    <div class="btn-group-vertical" data-toggle="buttons">
            <button type="submit" class="btn btn-outline-info">Create New Tenant</button>
            <br>
            <button type="submit" class="btn btn-outline-info">Create New Application Profile</button>
            <br>
            <button type="submit" class="btn btn-outline-info">Create New Endpoint Group</button>
            <br>
            <button type="submit" class="btn btn-outline-info">Create New Bridge Domain</button>
            <br>
            <button type="submit" class="btn btn-outline-info">Create New VRF</button>
    </div>
</div>

<div class="jumbotron">
    <div class="btn-group-vertical" data-toggle="buttons">
        <form action="/logging" method="get">
            <button type="submit" class="btn btn-outline-info">Specific Log</button>
            <br>
        </form>
    </div>
</div>
{% endblock %}