{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="/static/css/signin.css"/>
<link rel="stylesheet" href="/static/css/bootstrap-flatly.css"/> // Remove to see Login buttons at good sizes
<link rel="stylesheet" href="/static/css/zoli.css"/>
<link rel="stylesheet" href="/static/fontawesome/css/all.min.css"/>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap3.3.4.min.js"></script>
<script src="/static/js/zoli.js"></script>
{% endblock %}

{% block content %}
<div class="container">

    <form class="form-signin" method="POST" action="/signup">
        <h2 class="form-signin-heading">Sign Up</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.password) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </form>

</div> <!-- /container -->
{% endblock %}